#headerku {
	height: 250px;
	background-image: linear-gradient(90deg, #7F47AA, #9784FF);
}

#headerku .logoku {
	width: 100px;
	margin: 15px 0 0 40px;
}

#headerku .text-right {
	float: right;
	margin: 20px 40px;
	line-height: 1rem;
}

#headerku .text-right img {
	width: 40px;
	float: right;
}

#headerku .text-right .ic-logout {
	margin: 10px 0 0 40px;
	width: 30px;
}

#headerku .text-right .isine {
	float: right;
	margin: 7px 0 0 10px;
	color: #fff;
}

#headerku .text-right .isine .small {
	font-weight: lighter;
}
/*NAVBAR*/
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #7F47AA;
    background-color: transparent;
    border-color: transparent transparent #590D7A;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    
    color: #0062cc;
    font-size: 16px;
   
}

/*NAVBAR END*/

.containerku {
	width: 85%;
	margin: auto;
	margin-top: -165px;
}

.bar-1 {
	background-color: #590D7A;
	height: 50px;
	color: #ffffff;
	padding: 12px 12px 12px 20px;
}

.bar-1 img {
	width: 20px;
	margin-right: 10px;
}

.bar-2 {
	height: 50px;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	padding: 20px 0 0 20px;
}

.bar-3 {
	height: 100px;
	padding-right: 45px;
}

.bar-3 button {
	float: right;
	text-transform: uppercase;
	margin: 30px 10px 10px 0;
	padding-top: 7px;
	padding-bottom: 7px;
}

.sectionku {
	background-color: #fff;
}

.sectionku .mbku {
	margin-bottom: 50px;
}

.sectionku .foto-profil {
	width: 120px;
	margin-top: 25px;
}

.sectionku .toolsku {
	width: 22px;
	margin: 30px 10px 0 0;
}

.sectionku .isi-section h4 {
	font-weight: bold;
	font-size: 21px;
	color: #000;
	margin-top: 30px;
}



.isi-section input[type=text], input[type=number], input[type=email], select {
	width: 100%;
	padding: 4px 12px;
	box-sizing: border-box;
	font-size: 13px;
	margin-bottom: 30px;
}

footer {
	padding: 10px 30px 10px 30px;
	background-color: #fff;
}

/* CUSTOMERS */
.container__customer {
	padding-top: 60px;
}

table button {
	float: right;
	font-size: 10px!important;
	text-transform: uppercase;
	margin-left: 3px!important;
	width: 60px!important;
	padding: 7px 0 7px 0!important;
}

table td {
	text-align: left;
}

table th {
	font-weight: bold;
	background-color: #f4f4f4;
	text-align: center!important;
}

.footer__customer {
	height: 100px;
	margin-bottom: 78px;
}

.footer__customer__container {
	width: 90%;
	margin: auto;
	font-size: 12px;
	padding-top: 30px;
}

.footer__customer__container select {
	width: 40px;
	padding: 0 0 0 10px;
	margin-left: 10px;
}

.footer__customer__container button {
	padding: 7px 0 7px 0!important;
	width: 100px!important;
}

.footer__customer__container span {
	margin: 5px;
}

/* CUSTOMERS EDIT */
.container__customer__edit {
	width: 90%;
	margin: auto;
	padding-top: 30px;
}

.container__customer__edit h4 {
	font-weight: bolder;
}

.container__customer__edit hr {
	width: 30%;
	margin-top: 5px;
	float: left;
}

.form__customer {
	width: 70%;
	margin: auto;
	padding: 30px 0 30px 0;
	color: #000;
}

.form__customer img {
	width: 20px;
	margin: -2px 20px 0 0;
}

.form__customer input, textarea {
	width: 80%;
	padding: 3px 0 3px 10px!important;
	border: 1px #D3D3D3 solid;
}

.form__customer td {
	padding-bottom: 30px;
}

.section-2 {
	background-color: #fff;
	margin-top: 40px;
}

/* CUSTOMER DETAIL */
.container__customer__detil {
	width: 90%;
	margin: auto;
	padding-top: 30px;
}

.container__customer__detil h4 {
	font-weight: bolder;
}

.container__customer__detil hr {
	width: 30%;
	margin-top: 5px;
	float: left;
}

.container__customer__detil .item-span {
	float: left;
	color: #8D8D8D;
}

/* LOGIN */
#login {
	background: url(../img/dyah/bg-login.png);
	/*background-color: #cccccc;*/
	height: 100%;
	width: 100%;
	background-position: center;
	/*background-repeat: no-repeat;*/
	background-size: 100% 100%;
	/*background-attachment: fixed;*/
}

.konten-login {
	padding: 30px 0 0 0;
	height: 100vh;
}

.konten-login h1 {
	font-weight: bold;
	font-size: 40px;
	color: #000;
	margin-top: 40px;
	padding-top: 30px;
}

.konten-login .separator {
	width: 110px;
	height: 2px;
	background-color: #C879D9;
	margin: auto;
}

.konten-login h4 {
	font-size: 20px;
	line-height: 5px;
	margin-top: 40px;
}
.konten-login h5 {
	font-size: 14px;
	line-height: 5px;
	margin-top: 15px;
}

.konten-login input {
	width: 450px;
	padding: 8px 20px;
	font-size: 16px;
	margin: 25px 0 0 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.konten-login p {
	margin: 10px 0 0 -170px;
}

.konten-login button {
	width: 280px;
	height: 35px;
	margin-top: 20px;
	letter-spacing: 2px;
	background-image: linear-gradient(90deg, #E672C3, #9784FF);
}

.cardku {
	background-color: #fff;
	text-align: center;
	width: 450px;
	/*height: 100%;*/
	padding: 0 0 50px 0;
	margin: auto;
	border-radius: 4px;
}

/* search tambahan */
.searchku {
	border-radius: 25px;
	float: right;
	border: 0;
	padding: 3px 35px;
	width: 200px;
	font-size: 15px;
}

.form_search{
	margin-top: -30px;
}

.icon-search {
	float: right;
	color: #8D8D8D;
	margin: 6px -27px 0 0;
}
/* Resoponsive profile */

@media screen and (max-width:574px) {
	.tb-responsive {
		width: 150px!important;
		float: right;
	}
}

@media screen and (min-width:575px) {
	.tb-responsive {
		width: 350px!important;
		float: left;
	}
}
@media screen and (max-width:575px) {
    .konten-login h1 {
    font-size: 40px;
    
}
}
/* showing data */
.showdata-form-custom{
	width: 30px;
	margin-block-start: -25px;
	margin-inline-start: 40px;
}

.showdata-custom{
	width: 30px;
}

/* success */
.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}

/* custom static */
.form-control-static{
	margin-top: 30px;
}

/* the pagination */
#data-table_previous {
    cursor: pointer;
    width: 60px !important;
    font-size: 12px;
    font-weight: 400;
    color: #fff !important;
    border: 1px solid transparent;
    border-radius: 30px;
    background: #666;
    padding: 5px;
    border-color: #666;
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}

.paginate_button {
	cursor: pointer;
	color: #666 !important;
	font-size: 15px;
    border: 1px solid transparent;
    background: transparent;
	box-shadow: none;
	padding: 5px;
	
}
#data-table_next{
	cursor: pointer;
    width: 60px !important;
    font-size: 12px;
    font-weight: 400;
    color: #fff !important;
    border: 1px solid transparent;
    border-radius: 30px;
    background: #666;
    padding: 5px;
    border-color: #666;
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
#data-table_next:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#data-table_previous:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#pagination{
	margin-top: -10px;
}